
html{
  width: 100%;
  box-sizing: border-box;
}

.app{
  padding: 30px;
  display:flex;
  flex-flow: row-nowrap;
  justify-content: space-around;
}

.grid{
  width: 784px;
  height: 784px;
  padding: 0px;
  border: 1px solid black;
  margin: 0px;

  display:flex;
  flex-flow: row wrap;
}

.cell{
  position: relative;
  height: 26px;
  width: 26px;
  padding: 0px;
  border: 1px solid black;
  margin: 0px;
}

.perma-dead{
  background-color: black;
}

.dead{
  background-color: white;
}

.alive{
  background-color: green;
}

.speed-buttons{
  width:120px;
  display:flex;
  flex-flow: column;
}