
html{
  box-sizing: border-box;
}

.grid{
  width: 40%;
  height: 0;
  padding: 0px;
  padding-bottom: 40%;
  border: 1px solid black;
  margin: 0px;

  display:flex;
  flex-flow: row wrap;
}

.cell{
  position: relative;
  height: 0;
  width: 3.1%;
  padding: 0px;
  padding-bottom: 3.1%;
  border: 1px solid black;
  margin: 0px;
}

.perma-dead{
  background-color: black;
}

.dead{
  background-color: white;
}

.alive{
  background-color: green;
}